* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  font-size: 1rem;
  /* background-color: red; */
  justify-content: center;
  align-items: center;
  background-image: url(img/terminal.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  gap: 60px;
}

.title-container {
  max-width: 800px;
  /* background-color: red; */
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 30px;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

.content-container {
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  width: 400px;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form-container div {
  width: 100%;
  /* background-color: red; */
}

.form-container p {
  margin-top: 30px;
}

input {
  border-radius: 10px;
  height: 40px;
  width: 100%;
  background-color: #eee;
  padding-left: 10px;
  border: none;
}

/* button {
    margin-top: 30px;
    width: 150px;
    height: 50px;
  } */
button {
  background-color: #412dab;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 30px;
  cursor: pointer;
}
